<div class="school col-lg-12 col-sm-12">
        <br>
        <h2 style="text-align:center">Evolution Of Little Flower Convent High Schoolss</h2>
        <br>
        <div class="history">
        <p style="text-align: justify">In 1950, the then Bishop of Pune, Rt. Rev. Andrew D’Souza, invited the Sisters of the Congregation of the Carmelite Religious to run St. Joseph’s Primary School. Rev. Fr. A. Fernandez was appointed as the Parish priest and Manager of the school. It was also proposed at the same time to raise the school to a High School.<br><br>
            Sister M. Helena, Sr. M. Celine and Sr. M. Faith arrived at Solapur to nurture the growth of St. Joseph’s School. A small Convent was opened on 29th May, 1950 in the school campus. It was named ‘Little Flower Convent’<br><br>
            Where there is God there is Truth, where there is truth, there is knowledge. Knowledge nourishes the heart, mind and soul of man and leads him from darkness to light.<br><br>
            Sr. M. Helena, lost no time in acquiring permission to open Std. V. The sapling began to grow rapidly under the able administration, the efficiency and dedication of the sisters. When Mother M. Helena was transferred, Mother M. Anacleta took her place and Sr. M. Patricia joined as the Headmistress. So dedicated and persevering were our Sisters that by 1953, the sapling had grown to a full-sized tree. St. Joseph’s was now St. Joseph High School, with classes I to XI.<br><br>
            Being the only English medium school then, it was much sought after in Solapur and contributed substantially to the educational growth of the city — all thanks to the devoted efforts of the Sisters, especially the Superiors, Sr. M. Celine, Sr. M. Alberta, Sr. M. Edith and headmistresses Sr. M. Gloria and Sr. M. Faith.<br><br>
            
        
        
        </p>
         </div>   


    </div>