<br>
<h2 style="text-align:center">Contact Us</h2>
<br>
<div class="contact-us">
</div>



<div class="row">
        <div class="col-sm-6 mx-auto">
                <div class="contact-school">
                    <div class="card-body">
                      <h5 class="card-title">Little Flower Convent School</h5>
                      <p class="card-text">19, Civil Lines,<br>
                                Solapur – 413 001<br>
                                Tel – (0217) 2600718</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
        </div>
        <div class="col-sm-6 mx-auto">
                <div class="contact-info">
                    <div class="card-body">
                      <h5 class="card-title">School Hours</h5>
                      <p class="card-text">Monday to Friday<br>
                                (except on holidays)<br>
                                Pre-Primary — 9.00 am to 12.45 pm<br>
                                Std I to Std X — 7:45 am to 1:50 pm </p>
                    </div>
                </div>
        </div>
</div>
<hr>
<div class="row">
                <div class="col-sm-6 mx-auto">
                        <div class="contact-school">
                            <div class="card-body">
                              <h5 class="card-title">Visiting Hours</h5>
                              <p class="card-text">Monday to Friday<br>
                                        (except on holidays)<br>
                                        9:00 am to 10:00 am<br>
                                        11:00 am to 12:00 noon</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                </div>
                <div class="col-sm-6 mx-auto">
                        <div class="contact-info">
                            <div class="card-body">
                              <h5 class="card-title">Principal</h5>
                              <p class="card-text">All School days<br>
                                        8:30 am to 9:30 am</p>
                            </div>
                        </div>
                </div>
        </div>