<div class="about-us">
    <br>
    <h2 style="text-align:center">About Little Flower Convent School</h2>
    <br>
    <p>Little Flower Convent High School is a co-education school running classes from Jr. KG to standard X.<br>
    <br>
    We aim at providing a blend of academic, sporting, cultural and artistic activities in a high quality environment. We have always produced excellent SSC results.<br>
    <br>
    Our prolific & able Management is the backbone of the school.</p>
    <br>
    <img src="../../assets/about.jpg"  class="img-fluid about" alt="LOGO">
    <br>
    <br>
    <p>The school boasts of strength of a little over 3000 students and staff over 75. The
       school is located in the Civil Lines area of Solapur which is very convenient to reach.<br>
       Little Flower Convent High School is one of the best state board schools in Solapur that houses —
    </p>
    <ul>
        <li>state-of-the-art classrooms</li>
        <li>best equipped libraries with books, magazines & CDs</li>
        <li>well equipped laboratory</li>
        <li>up to date computer lab</li>
        <li>audio-visual room fitted with LCD projector</li>
        <li>large auditorium</li>
        <li>huge open air stage</li>
        <li>playground for sports & recreation</li>
    </ul>
    <br>
    <p>This infrastructure contributes to giving the students a world-class education with lifelong benefits.
    <br>
    <br>
    Visit the <a href="#" routerLink="/school-history" routerLinkActive="active">School History</a> page to learn more about the evolution of Little Flower Convent High School.
    <br>
    <br>



</div>