<div class="facilities">
        <br>
        <h2 style="text-align:center">Facilities</h2>
        <br>
</div>

        <div class="info">
        <h4>Campus</h4>
        <p style="text-align: justify">Spread over a vibrant eight-acre campus at Lohegaon Pune, KIS is a proposed ICSE curriculum school. We provide the latest methods and infrastructure in the sector of education and teaching methodology. Our curriculum is founded on the Pancha Koshas, the five pillars of well-being, uniting the physical, emotional, intellectual, creative and spiritual aspects that are essential to the complete blossoming of every child.

                        Kaveri International School is set in the history-rich environment of Pune.<br>
                        
                        Our beautiful and sprawling 8.5-acre campus has a state of the art learning environment designed to inspire students to discover their strengths and to nurture them.
                        
                        We provide up to date facilities like laboratories, Science centre, art and music studios, libraries, gymnasium, spacious playing and athletic fields and separate fenced playgrounds for pre-school children. The campus will include separate areas for pre-primary, primary, secondary and high schools.</p>

                        <div class="row">
                                        <div class="col-sm-6 mx-auto">
                                                <div class="activite1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Academics</h5>
                                                        <p class="card-text " style="text-align: justify">	
                                                        Small class groups (less than 40 children per class) Experiential, self-motivated learning.
                                                        </p>    
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-6 mx-auto">
                                                <div class="activite2">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Sports</h5>
                                                      <p class="card-text " style="text-align: justify">	
                                                                A wide variety of sports and games to choose from.
                                                                  </p>
                                                    </div>
                                                </div>
                                        </div>
                                </div>

                 
                 <div class="row">
                                <div class="col-sm-6 mx-auto">
                                        <div class="activite1">
                                            <div class="card-body">
                                                <h5 class="card-title">Arts</h5>
                                                <p class="card-text " style="text-align: justify">
                                                We encourage expression through all forms of music, dance and art Providing the best gurus and mentors to nurture talents.       	
                                                </p>    
                                            </div>
                                        </div>
                                </div>
                                <div class="col-sm-6 mx-auto">
                                        <div class="activite2">
                                            <div class="card-body">
                                              <h5 class="card-title">Health and Well being </h5>
                                              <p class="card-text " style="text-align: justify">	
                                                        Nutritious and appealing food cooked by experts Developing healthy eating habits. Strict quality control and hygiene
                                                          </p>
                                            </div>
                                        </div>
                                </div>
                        </div>   
                        
                        <div class="row">
                                        <div class="col-sm-6 mx-auto">
                                                <div class="activite1">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Transportation</h5>
                                                        <p class="card-text " style="text-align: justify">
                                                                        GPS enabled buses designed for safety. Female attendants accompany every ride.
                                                        </p>    
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-6 mx-auto">
                                                <div class="activite2">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Learning Resources Centre</h5>
                                                      <p class="card-text " style="text-align: justify">
                                                                Creating and Inspiring a community of learners Well quipped LRC Library, Audio visual aids and software	
                                                                  </p>
                                                    </div>
                                                </div>
                                        </div>
                                </div> 

        
                                <div class="row">
                                                <div class="col-sm-6 mx-auto">
                                                        <div class="activite1">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Science Lab
                                                                        </h5>
                                                                <p class="card-text " style="text-align: justify">
                                                                We have a very well equipped science laboratory wherein the students are encouraged to learn through experiments and understand various concepts beyond their books.
                                                                <img src="../..//assets/chemistry-lab.jpg"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">        
                                                        </p>    
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-sm-6 mx-auto">
                                                        <div class="activite2">
                                                            <div class="card-body">
                                                              <h5 class="card-title">Music Room
                                                                </h5>
                                                              <p class="card-text " style="text-align: justify">
                                                                        Music room is equipped with quality string percussion and all key based instruments	
                                                                        <br><br>
                                                                        <img src="../..//assets/music-lab.webp"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">          
                                                                </p>
                                                            </div>
                                                        </div>
                                                </div>
                                        </div> 


                                        <div class="row">
                                                        <div class="col-sm-6 mx-auto">
                                                                <div class="activite1">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">Computer Lab</h5>
                                                                        <p class="card-text " style="text-align: justify">
                                                                        Computer Lab has been designed with advanced infrastructure and provides children with tools and technologies for learning.
                                                                        <img src="../../assets/comp-lab.jpg"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">        
                                                                </p>    
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-sm-6 mx-auto">
                                                                <div class="activite2">
                                                                    <div class="card-body">
                                                                      <h5 class="card-title">Library
                                                                        </h5>
                                                                      <p class="card-text " style="text-align: justify">
                                                                                It is the best part of our school’s teaching and learning environment. It provides resources and services that support students in learning.
                                                                                <img src="../..//assets/library.jpg"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                </div> 
               
                                                <div class="row">
                                                                <div class="col-sm-6 mx-auto">
                                                                        <div class="activite1">
                                                                            <div class="card-body">
                                                                                <h5 class="card-title">Dance Room</h5>
                                                                                <p class="card-text " style="text-align: justify">
                                                                                We have a very big Dance Room equipped with mirror walls.
                                                                                <img src="../../assets/dance-room.jpg"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">        
                                                                        </p>    
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                                <div class="col-sm-6 mx-auto">
                                                                        <div class="activite2">
                                                                            <div class="card-body">
                                                                              <h5 class="card-title">School buses</h5>
                                                                              <p class="card-text " style="text-align: justify">
                                                                                We have a very well maintained GPS and CCTV enabled school buses.
                                                                                        <img src="../..//assets/school-bus.jpg"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                        </div> 
                                
                                                        <div class="row">
                                                                        <div class="col-sm-6 mx-auto">
                                                                                <div class="activite1">
                                                                                    <div class="card-body">
                                                                                        <h5 class="card-title">School Playground</h5>
                                                                                        <p class="card-text " style="text-align: justify">
                                                                                        The school playground provides a safe outdoors environment within the school that stimulates children to use their creative energy in healthy interactions with one another.
                                                                                        <img src="../../assets/school-playground.jpg"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">        
                                                                                </p>    
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-sm-6 mx-auto">
                                                                                <div class="activite2">
                                                                                    <div class="card-body">
                                                                                      <h5 class="card-title">Medical Care
                                                                                        </h5>
                                                                                      <p class="card-text " style="text-align: justify">
                                                                                                School health and nutrition services are services provided through the school system to improve the health and well-being of children and in some cases whole families and the broader community.
                                                                                                <img src="../..//assets/medical-care.png"  class="img-fluid" alt="Ashadhi-Ekadashi" style="width: 800px; height: 250px; padding-right: 2%; padding-top: 5% ">
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                </div> 

                                                                

</div> 
