<div class="our-staff col-lg-12 col-sm-12">
    <br>
    <h2 style="text-align:center">Our Staff</h2>
        <div class="text-center">
        <br>
        <img src="../../assets/our-staff.jpg" class="img-fluid" alt="our-staff">
        <br>
        <br>
        <p style="text-align:center">Teacher Staff of VMHS</p>
        </div>

        <div class="row">
                <div class="col-sm-6 mx-auto">
                        <div class="activite1">
                            <div class="card-body">
                                <h4 class="card-title">Principal</h4>
                                <ul>
                                    <li>Ms. Marita Cleetus</li>
                                </ul>   
                            </div>
                        </div>
                </div>
                <div class="col-sm-6 mx-auto">
                        <!-- <div class="activite2">
                            <div class="card-body">
                              <h5 class="card-title">
                                </h5>
                             
                            </div>
                        </div> -->
                </div>
        </div> 

        <div class="row">
                <div class="col-sm-6 mx-auto">
                        <div class="activite1">
                            <div class="card-body">
                                <h4 class="card-title">Co-Ordinator(Middle School)</h4>
                                <ul>
                                    <li>Ms. Reshma Deshpande</li>
                                </ul>   
                            </div>
                        </div>
                </div>
                <div class="col-sm-6 mx-auto">
                        <div class="activite2">
                            <div class="card-body">
                              <h4 class="card-title">Co-Ordinator (Kindergarten-Grade 2) </h4>
                               <ul>
                                   <li>Ms. Anita Pendalwar</li>
                                </ul>  
                            </div>
                        </div>
                </div>
        </div>
        
        <div class="row">
                <div class="col-sm-6 mx-auto">
                        <div class="activite1">
                            <div class="card-body">
                                <h4 class="card-title">Teaching Staff</h4>
                                <ul>
                                    <li>Mr. Aditya Giri</li>
                                    <li>Ms. Snehal Kakad</li>
                                    <li>Ms. Dhanyatha Telkar</li>  
                                    <li>Ms. Sangeetha Ravi</li> 
                                    <li>Ms. Arti Prasad</li> 
                                    <li>Ms. Vanita Manmothe</li> 
                                    <li>Ms. Gautami Pandey</li> 
                                    <li>Ms. Poonam Choudhary</li>
                                    <li>Ms. Pranjali Pendharkar</li> 
                                    <li>Ms. Madhu Bernard</li> 
                                    <li>Ms. Smriti Shaji</li> 
                                    <li>Ms. Reshma Gaikwad</li> 
                                    <li>Ms. Mukta Singh</li> 
                                    <li>Ms. Jolly Abraham</li> 
                                    <li>Ms. Archana Rai</li>
                                    <li>Mr. Aditya Giri</li>
                                    <li>Ms. Snehal Kakad</li>
                                    <li>Ms. Dhanyatha Telkar</li>  
                                    <li>Ms. Sangeetha Ravi</li> 
                                    <li>Ms. Arti Prasad</li> 
                                    <li>Ms. Vanita Manmothe</li> 
                                    <li>Ms. Gautami Pandey</li> 
                                    <li>Ms. Poonam Choudhary</li>
                                    <li>Ms. Pranjali Pendharkar</li> 
                                    <li>Ms. Madhu Bernard</li> 
                                 
                                </ul>   
                            </div>
                        </div>
                </div>
                <div class="col-sm-6 mx-auto">
                        <div class="activite2">
                            <div class="card-body">
                              <h4 class="card-title">Visiting Faculties</h4>
                               <ul>
                                   <li>Mr. Siddharth Salvi</li>
                                   <li>Mr. Sujay Godbole</li>
                                   <li>Mr. Ramesh Belgaonkar</li>
                                </ul>  
                                <br>
                                <h4 class="card-title">Admin Staff</h4>
                               <ul>
                                   <li>Mrs. Pranita Ghanti</li>
                                   <li>Mrs. Sangeeta Hande</li>
                                   <li>Mr. Bhushan Thakur</li>
                                   <li>Mr. Rahul Mane</li>                              
                                   <li>Ms. Shanti Tiwari</li>
                                   <li>Mr. Narendra Katmore</li>
                                </ul>  
                            </div>
                        </div>
                </div>
        </div>

           
  
</div>
                    
     
        